body {
  margin-left: -20px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  width: 100vw;
  align-items: center;
  place-content: center;
  max-width: 300px;
  background-color: black;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
}

.screen {
  overflow: hidden;
  width: 98%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  border: 1px solid;
  border-color: beige;
  border-radius: 2px;
  justify-content: space-between;
}

.box {
  width: 95%;
  margin: 2%;
  border: 1px solid;
  border-color: beige;
  border-radius: 2px;
  color: white;
  display: flex;
  flex-direction: column;
}

.emplacement {
  width: 95%;
  margin: 2%;
  border: 1px solid;
  border-color: beige;
  border-radius: 2px;
  color: white;
  display: flex;
}

.daycare {
  width: 95%;
  border: 1px solid;
  border-color: beige;
  border-radius: 2px;
  color: white;
  display: flex;
  flex-direction: column;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-bottom: 4px;
}

.level {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.exp {
  height: 4px;
  display: flex;
  margin-left: 2%;
  align-items: center;
}

.expbar {
  width: 50%;
  height: 4px;
  display: flex;
  margin-top: -2%;
  background-color: darkgrey;
  border-radius: 9999px;
}

.expprogress {
  width: 0%;
  height: 100%;
  background-color: darkturquoise;
  border-radius: 9999px;
}

.coin {
  width: 7px;
  height: 9px;
  margin-right: 2px;
  background-color: gold;
  border: 1px solid;
  border-color: white;
  border-radius: 9999px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  place-content: center;
}

.coin > div {
  height: 60%;
  width: 1px;
  background-color: white;
  border-radius: 9999px;
}

.text {
  margin: 2%;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.textsm {
  font-size: 8px;
}

.img {
  position: relative;
  aspect-ratio: 1/1;
}

.pokemon-img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  position: relative;
}

.egg {
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -8px;
  bottom: -8px
}

#exptext {
  margin-top: -4px;
  margin-left: 4px;
}

#globalexptext {
  margin-top: -4px;
  margin-left: 4px;
}